body {
  margin: 0;
  padding: 0;
  font-family: "ernst", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.page {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  margin: 0;
}

.navbar {
  top: 0;
  position: absolute;
  max-height: 80px;
  padding: 20px 0;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;

  p {
    padding: 0 30px;
  }
}

main {
  display: flex;
  padding: 0 30px;
  margin-top: 80px;
}

/* -------- colorful modal loader ------- */

#color-div {
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  position: absolute;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

svg path {
  fill: transparent;
  stroke: white;
  stroke-width: 0.1;
  stroke-dasharray: 65;
  stroke-dashoffset: 65;
  animation: textAnimation 4s ease-in-out 1 forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 65;
  }
  80% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: rgba(255, 255, 255, 0.8);
  }
}

@keyframes slideUpAndOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh); /* Move fully off screen */
  }
}

.slide-up-out {
  animation: slideUpAndOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
